@use "../../../styles/variables/variables" as v;

.transactions {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;

  &__empty {
    font-family: v.$font-family;
    font-weight: 400;
    text-align: center;
    color: v.$error;
    background-color: v.$error-light;
    border: 1px solid v.$error;
    border-radius: 0.625rem;
    padding: 0.9375rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    h3 {
      font-family: v.$font-family;
      color: v.$gray;
      font-weight: 600;
    }
    a {
      font-family: v.$font-family;
      text-decoration: none;
      color: v.$link-color;
    }
  }
}
